* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --theme-color: rgb(30, 30, 50);
  --theme-color-alt: rgb(40, 40, 60);

  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: whitesmoke;

  background-color: var(--theme-color);

  word-break: break-word;
}

body {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;

  max-width: 500px;
  margin: 2rem auto;
}

.card-container {
  position: relative;
  height: 100px;
}

.card-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  font-size: 50px;

  align-items: center;
  justify-content: center;

  background-color: var(--theme-color-alt);

  transition: 0.3s;
  transform: perspective(400px) rotateY(180deg);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.card-container.card-visible > .card-content {
  transform: perspective(400px) rotateY(0);
}

.card-text {
  backface-visibility: hidden;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin: 1.5rem 0;
}

button {
  background-color: var(--theme-color-alt);
  font: inherit;
  color: inherit;
  border: none;
  padding: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}
